<div fxLayout="column">
  <h3>
    Level of Uncertainty
  </h3>

  <div fxLayout="row" fxLayoutGap="1rem">
    <app-radio-button
      *ngFor="let option of options"
      [model]="uncertainty"
      [option]="option"
      (modelChange)="change.emit($event)">
    </app-radio-button>
  </div>

  <div
    *ngIf="uncertainty"
    fxLayout="column"
    class="descriptive-items">
    <span
      *ngFor="let descriptiveItem of uncertainty.descriptiveItems">
      {{descriptiveItem}}
    </span>
  </div>
</div>
