<div fxLayout="column">
  <h3>
    Amount of Work <span *ngIf="disabled">(Disabled)</span>
  </h3>

  <div fxLayout="row" fxLayoutGap="1rem">
    <app-radio-button
      *ngFor="let option of options"
      [model]="workload"
      [option]="option"
      (modelChange)="change.emit($event)">
    </app-radio-button>
  </div>

  <div
    *ngIf="workload"
    fxLayout="column"
    class="descriptive-items">
    <span
      *ngFor="let descriptiveItem of workload.descriptiveItems">
      {{descriptiveItem}}
    </span>
  </div>
</div>
