<div fxLayout="row" fxLayoutAlign="center center" class="app-container">
  <div fxLayout="column" fxLayoutGap="1rem">
    <!-- Header -->
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 fxFlex="0 0 auto"> Sprint effort calculator </h1>
      <div fxFlex="1 1 auto" fxFlexAlign="end" class="version">
        Version {{version}}
      </div>

      <div fxFlex="0 0 auto" fxLayout="column" fxLayoutAlign="center">
        <!-- Advanced Settings Button -->
        <app-button
          icon="settings"
          text="Settings"
          class="header__settings-btn"
          (click)="this.toggleAdvancedSettings()">
        </app-button>

        <!-- Advanced Settings Content -->
        <app-advanced-settings>
        </app-advanced-settings>
      </div>

      <div class="github-logo">
        <a href="https://github.com/chriso86/sprint-effort-calculator" target="_blank">
          <img src="assets/github-logo.png" alt="GitHub Logo">
        </a>
      </div>
    </div>

    <div fxLayout="row">
      <div fxLayout="column">
        <app-team-list>
        </app-team-list>
      </div>

      <!-- Calculator Section -->
      <div fxLayout="column">
        <!-- Complexity and Workload -->
        <div fxLayout="row" fxLayoutGap="1rem">
          <div class="app-section" [ngClass]="{'app-section--disabled': (weightings$ | async)?.complexity === 0}">
            <app-complexity
              [complexity]="complexity"
              [disabled]="(weightings$ | async)?.complexity === 0"
              (change)="setComplexity($event)">
            </app-complexity>
          </div>

          <div class="app-section" [ngClass]="{'app-section--disabled': (weightings$ | async)?.workload === 0}">
            <app-workload
              [workload]="workload"
              [disabled]="(weightings$ | async)?.workload === 0"
              (change)="setWorkload($event)">
            </app-workload>
          </div>
        </div>

        <!-- Risk and Uncertainty -->
        <div fxLayout="row" fxLayoutGap="1rem">
          <div class="app-section" [ngClass]="{'app-section--disabled': (weightings$ | async)?.risk === 0}">
            <app-risk
              [risk]="risk"
              [disabled]="(weightings$ | async)?.risk === 0"
              (change)="setRisk($event)">
            </app-risk>
          </div>

          <div class="app-section" [ngClass]="{'app-section--disabled': (weightings$ | async)?.uncertainty === 0}">
            <app-uncertainty
              [uncertainty]="uncertainty"
              [disabled]="(weightings$ | async)?.uncertainty === 0"
              (change)="setUncertainty($event)">
            </app-uncertainty>
          </div>
        </div>

        <!-- Score -->
        <div class="app-section">
          <app-score
            [complexity]="complexity?.data"
            [workload]="workload?.data"
            [risk]="risk?.data"
            [uncertainty]="uncertainty?.data"
            [calculatedComplexity]="calculatedComplexity"
            [calculatedRisk]="calculatedRisk"
            [calculatedUncertainty]="calculatedUncertainty"
            [calculatedWorkload]="calculatedWorkload"
            [scoreMappings]="scoreMappings"
            [score]="score">
          </app-score>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isAdvancedSettingsOpen"
     class="modal-bg"
     (click)="this.closeAdvancedSettings()">
</div>
