.app-container {
  padding: 1em 0;
}

.header {
  &__settings-btn {
    z-index: 2;
  }
}

.version {
  padding-left: 1rem;
  color: gray;
  line-height: 42px;
}

.github-logo {
  img {
    margin: 0 .5rem;
    width: 44px;
    height: 44px;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.arrow-group {
  padding: 0 .25em;
}
