.descriptive-items {
  background: #eee;
  padding: .5rem 0;

  span {
    background: #fff;
    display: block;
    margin: .25rem 0;
    padding: .25rem;
    border: 3px solid #ddd;
    border-radius: 3px;
  }
}
