:host {
  position: relative;
}

.advanced-settings {
  z-index: 2;
  position: relative;
  user-select: none;

  &__close-button {
    position: absolute;
    top: .25em;
    right: .25em;
    cursor: pointer;
  }

  &__content {
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 2;
    padding: 1em;
    border: 3px solid #ddd;
    border-radius: 3px;

    .invalid-text {
      color: red;
    }
  }
}
